<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/> -->
  </head>
  <body class="grey darken-2">
    <div class="navbar-fixed">
      <nav class="grey darken-1 z-depth-3" role="navigation">
        HEWOO
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s4">
          <div class="card z-depth-2 blue darken-2 white-text">
            <div class="card-image">
              <a class="modal-trigger" href="#modal1">
                <img src="https://lorempixel.com/output/sports-q-c-320-240-8.jpg">
              </a>
              <span class="card-title white-text">
                <span class="z-depth-2 book-title truncate flow-text">
                  <!-- <svg viewBox="0 100 100" xmlns"http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <foreignObject width=auto height=auto>
                      <h1 style="font-size: 1em">ASDDASDASDASDADSDA</h1>
                    </foreignObject>
                  </svg> -->
                  heck
                </span>
              </span>
            </div>
            <div class="card-content">
              <p>content</p>
            </div>
            <div class="card-action">
              Hello
            </div>
          </div>
          <div id="modal1" class="modal bottom-sheet grey darken-2 white-text">
            <div class="modal-content">
              <p>Hello there</p>
            </div>
          </div>



          <div class="card z-depth-2 blue darken-2 white-text" style="overflow: auto">
            <div class="left">
                <div class="card-content" style="background: gray; display: inline-block">
                  <span class="card-title" style="background: gray; display: inline-block; max-width: 70%">Book Titleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</span>
                  <p>hello there</p>
                </div>
              </div>
                <div class="card-image right">
                  <img src="https://lorempixel.com/100/190/nature/6">
                </div>
              <div class="card-content" style="background: gray">
                <p>howdy</p>
              </div>
        </div>
        <div class="col s4">

        </div>
        <div class="col s4">

        </div>
      </div>
    </div>
  </body>
</html>